body {
  background-color: #17202a;
}

div.horizontal {
  display: flex;
  justify-content: center;
}

div.vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

div.center {
  display: block;
  text-align: center;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

a {
  color: #3498db;
}

.myName {
  margin-top: 45px;
  text-align: center;
  font-size: 70px;
  color: #ecf0f1;
}


.intro {
  margin-top: 50px;
  text-align: center;
  color: #ecf0f1;
}